<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Class Upper Excellent</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css') }}">
</head>
<body class="first-class--ordinary">
    <div class="vl-1"></div>
    <div class="vl-2"></div>
    <div class="vl-3"></div>
    <div class="letter-head">
        <img src="{{url_for('static', filename='img/knust-logo.png') }}" alt="knust logo" class="knust-logo">
        <div class="supervisor-name">
            <h2>Dr. Emmanuel Kwesi Arthur</h2>
        </div>
        <div class="qualification">
            <h5>Senior Lecturer and Laboratory Manager, Department of Materials Engineering</h5>
        </div>
        <div class="knust-in-full">
            <h5>Kwame Nkrumah University of Science and Technology, Kumasi, Ghana</h5>
        </div>
        <div class="email">
            <h5>Email: ekarthur.coe@knust.edu.gh / ekarthur2005@yahoo.com</h5>
            <h5>Tel. +233 (0) 541710532</h5>
        </div>
        <div class="horizontal-line--1"></div>
        <div class="horizontal-line--2"></div>
    </div>
    <div class="letter-body">
        <span class="reference">Ref.: MSE/REC/{{letter_year}}</span>
        <span class="letter-date">Dated: <span  id="datetime">{{letter_date}}</span></span>
        <div class="receivers-address">
            <p>{{receiversAddress | safe }}</p>
        </div>
        <p>Dear Sir/Madam,</p>
        <p class="letter-intro">Letter Of Recommendation: {% if gender == "male" %} Mr. {% elif gender == "female" %} Miss {% endif %}{{fullName}}</p>
        <div class="letter-content">
            <p>
                I write to recommend {% if gender == "male" %} Mr. {% elif gender == "female" %} Miss {% endif %} {{fullName}} for graduate admission into your institution. I have known {{firstName}} for {{years}} years during which I have served as {% if gender == "male" %} his {% elif gender == "female" %} her {% endif %} lecturer and academic advisor at the Kwame Nkrumah University of Science and Technology (KNUST).
            </p>
            <p>
                Over the years, I have witnessed {{firstName}}'s remarkable progressive academic and personal growth.  {{firstName}} is well known in the Department of Materials Engineering at KNUST for his academic performance, commitment, hard work, and exceptional understanding of the programme and ability to apply theoretical knowledge. {{firstName}} graduated from the department with a second-class honor, upper division. He has good interpersonal skills and he is a team player; in most cases, he has proven himself to be an exceptional leader: he never fails to step up to any challenge. As such, his final year project group work on
                <em>"{{projectTitle}}"</em>, was rated one of the best projects submitted to the department in the 2020/2021 academic year.
            </p>
            <p>
                {{comments}}
            </p>
            <p>
                {{firstName}} is an exceptional candidate for graduate study and I would undoubtedly recommend him for admission into the {{progApplying}} at {{schoolApplying}}. I am confident he would make an excellent addition to the university community. Please contact me for any further information whenever the need be. 
            </p>
            <p>Thank You</p>
            <p>Yours faithfully,</p>
            <img src="{{url_for('static', filename='img/signature.png') }}" alt="signature" class="signature">
            <div>Dr. Emmanuel Kwesi Arthur</div>
            Senior Lecturer
        </div>
    </div>
    <script>
       function updateDateTime() {
        var datetimeElement = document.getElementById("datetime");
        var currentDate = new Date();
        var options = { year: 'numeric', month: 'long', day: 'numeric'};
        var formattedDate = currentDate.toLocaleDateString('en-US', options);
        datetimeElement.textContent = formattedDate;
    }
    updateDateTime();
    setInterval(updateDateTime, 1000);
    </script>
</body>
</html>